<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Sent Confirmation</title>
</head>
<body>
  <div class="confirmation-container">
    <h2>Se ha enviado un correo electrónico a <span class="email">{{email}}</span></h2>
    <p>Sigue las instrucciones en el correo para restablecer tu contraseña.</p>
  </div>
</body>
</html>
