
<head>
    <meta charset="UTF-8">
    <title>Email Sent Confirmation</title>
<body>
    <div class="container">
        <h2>An email has been sent to {{email}}</h2>
        <p>Follow the instructions in order to restore your password.</p>
    </div>
</body>
</html>
