<div class="enter-new-password-container">
  <h1>Restablecer Contraseña</h1>
  <h4 class="message">{{message}}</h4>
  <form id='loginForm' action='/api/sessions/enterNewPassword' method='POST' class="enter-new-password-form">
    <label for="password">Contraseña</label>
    <input type="password" name='password' id="password" class="enter-new-password-input" />
    <input type='submit' value="Restablecer" class="enter-new-password-button" />
  </form>
</div>
