<div>
  <h1>LOGIN</h1>
  <form id='loginForm' action='/api/sessions/login' method='POST'>
    <label>Email</label>
    <input name='eMail' />
    <br />
    <label>Password</label>
    <input name='password' />
    <input type='submit' />
  </form>
  <a href='/api/sessions/githublogin'>Ingresar con Github</a>
</div>