<div>
  <h1>LOGIN</h1>
  <form id='loginForm' action='/api/sessions/login' method='POST'>
    <label>Email</label>
    <input name='email' />
    <br />
    <label>Password</label>
    <input name='password' />
    <br />
    <br />
    <input type='submit' />
  </form>
  <a href='/restorePassword'>¿Olvidaste tu contraseña?</a>
  <br />
  <br />
  <a href='/api/sessions/githublogin'>Ingresar con Github</a>
  <br />
  <p>¿No estás registrado aún? </p>
  <a href='/register'>Registrate aquí!</a>
</div>