<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Successfully Restored</title>
</head>
<body>
  <div class="password-restored-container">
    <h1>Contraseña restablecida exitosamente</h1>
    <a href='/login' class="login-link">Ingresar</a>
  </div>
</body>
</html>
