<h1>Register</h1>
<form action='/api/sessions/register' method='POST'>
  <input type='text' name='firstName' placeholder='Nombre' />
  <br />
  <input type='text' name='lastName' placeholder='Apellido' />
  <br />
  <input type='text' name='email' placeholder='E-mail' />
  <br />
  <input
    type='text'
    name='age'
    placeholder='Edad'
    type='number'
    min='1'
    max='119'
  /><br />
  <input type='text' name='password' placeholder='Password' />
  <br />
  <input type='checkbox' id='isAdmin' name='isAdmin'/>
  <label for='isAdmin'>¿Es ADMIN?</label>
  <button>Registrar</button>
</form>
<p>¿Ya te encuentras registrado? </p>
<a href='/login'>Ingresa aquí!</a>