<div class="register-container">
  <h1 class="register-title">Registro</h1>
  <form action='/api/sessions/register' method='POST' class="register-form">
    <input type='text' name='firstName' placeholder='Nombre' class="register-input" />
    <input type='text' name='lastName' placeholder='Apellido' class="register-input" />
    <input type='text' name='email' placeholder='E-mail' class="register-input" />
    <input type='number' name='age' placeholder='Edad' class="register-input" min='1' max='119' />
    <input type='password' name='password' placeholder='Password' class="register-input" />
    <div class="admin-checkbox">
      <input type='checkbox' id='isAdmin' name='isAdmin' />
      <label for='isAdmin'>¿Es ADMIN?</label>
    </div>
    <button class="register-button">Registrar</button>
  </form>
  <p class="login-text">¿Ya te encuentras registrado?</p>
  <a href='/login' class="login-link">Ingresa aquí!</a>
</div>
