.enter-new-password-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1f1f1f;
    border-radius: 10px;
    text-align: center;
  }
  
  .message {
    color: white;
  }
  
  .enter-new-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .enter-new-password-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #00bcd4;
    border-radius: 5px;
  }
  
  .enter-new-password-button {
    background-color: #00bcd4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .enter-new-password-button:hover {
    background-color: #0097a7;
  }
  