body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
}

/* Estilos para el contenedor del logo */
.logo-container {
  display: flex;
  align-items: center; /* Alinea verticalmente el contenido */
  margin-right: 10px; /* Margen derecho para separar del texto "Home" */
}

/* Estilos para el logo */
.power-comics-logo {
  border-radius: 50%; /* Convierte la imagen en un círculo */
  margin-top: -40px; /* Ajusta la posición vertical */
  margin-bottom: -40px; /* Ajusta la posición vertical */
  width: 135px;
}


.navbar {
  margin-bottom: 0;
  background-color: #0097a7;
}

.small-navbar {
  max-width: 1100px;
  margin: 0 auto;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.content-container {
  padding: 20px;
  flex: 1;
}

.footer {
  background-color: #0097a7;
  padding: 20px 0;
  text-align: center;
}
.footer p {
  margin: 0;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.banner-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%; /* Ajusta el tamaño de la imagen al tamaño del contenedor */
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 180px; /* Ajusta la altura del contenedor según lo necesites */
}

.cart-icon {
  max-width: 5%; /* Ajusta este valor según tu preferencia */
  height: auto; /* Asegura que la altura se ajuste automáticamente */
  vertical-align: middle; /* Alineación vertical en el centro */
}

